/*
 * 2023.12.13.13:45:35
 */

:root {
    --default-height: -webkit-fill-available;
}

.hdr {
    -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    backface-visibility: hidden; /* Standard property */
}

#prx_mod {
    display: flex;
}

.options_input.whitelist {
    resize: both;
    overflow: auto;
    min-width: 200px;
    max-width: 500px;
    min-height: 100px;
    max-height: 300px;
    padding: 0.5rem 0.7rem;
}

::selection {
    background: #f8f8f8;
    color: #232323;
}

@media only screen and (min-width: 1800px) {
    .mod_col {
        width: 625px;
    }


    .crds_col {
        width: calc(-198px + 100vw - 625px);
    }

    .prx_crds {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1799px) and (min-width: 1400px) {
    .mod_col {
        width: 625px;
    }

    .crds_col {
        width: calc(-198px + 100vw - 625px);
    }

    .prx_crds {
        grid-template-columns: 1fr;
        max-width: 625px;
    }
}

@media only screen and (max-width: 1399px) and (min-width: 1280px) {
    .mod_col {
        width: 560px;
    }

    .crds_col {
        width: calc(-198px + 100vw - 560px);
    }

    .prx_crds {
        grid-template-columns: 1fr;
        max-width: 560px;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 1000px) {
    .mod_col {
        width: 500px;
    }

    .crds_col {
        width: calc(-198px + 100vw - 500px);
    }

    .prx_crds {
        grid-template-columns: 1fr;
        max-width: 500px;
    }

    .mod_content_pd {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.mod_v2,
.mod_col,
.crds_col,
.crd_area {
}


.mod_v2,
.mod_col,
.crds_col,
.crd_area {
    height: var(--default-height);
}

.info_explain-text-code {
    background-color: #232323;
    padding: 1px 4px;
    border-radius: 4px;
    border: 1px solid #353535;
    color: #ccc;
    overflow-x: auto;
    white-space: pre;
    font-weight: 600;
    line-height: 20px;
}

.skel_mod_bg,
.skel_prx_crd_bg,
.skel_bg_light,
.skel_bg_crd,
.skel_bg_cnt_active,
.skel_swap_grid_item-bg {
    animation-name: gradient-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.cl-userPreviewMainIdentifier,
.cl-userButtonPopoverActionButtonText,
.cl-internal-fqx4fd,
.cl-userButtonPopoverActionButtonIcon,
.cl-internal-18qkp9i {
    color: #fff;
}

.cl-userPreview {
    padding: 0px 1rem;
}

.cl-userPreviewSecondaryIdentifier {
    color: #999;
}

.cl-rootBox {
    display: flex;
    align-content: center;
    align-items: center;
}

.cl-userButtonAvatarBox {
    width: 24px;
    height: 24px;
}

.cl-userButtonPopoverCard {
    background-color: #181818;
    border-radius: 4px;
    border: 1px solid #212121;
    padding: 1rem 0px 0.75rem 0px;
    width: 19rem;
}

.cl-internal-mm7kcs {
    border: none;
}

.cl-userButtonBox {
    margin-right: 4px;
}

.cl-userButtonPopoverActionButton, .cl-internal-e2ulbp {
    padding: 0.475rem 1rem;
    cursor: default;
}

.cl-internal-e2ulbp:hover, .cl-userButtonPopoverActionButton:hover {
    background-color: #202020;
}

.user_btn_item-text {
    text-overflow: ellipsis;
}

#gtx-trans {
    display: none;
}

.loader-wrp {
    border: 10px solid;
    border-image: linear-gradient(to right, #7000ff, #e05a1f) 1 stretch;
    border-radius: 3px;
}

.dvd_box {
    -webkit-animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
    -moz-animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
    -o-animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
    animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@-moz-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@-o-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@-webkit-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@-moz-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@-o-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@keyframes gradient-animation {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}

.crd_wrp {
    height: var(--default-height);
    overflow-y: scroll;
}

.mod_content,
.crd_area {
    overflow-y: scroll;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow-x: hidden;
}

.mod_content::-webkit-scrollbar,
.crd_area::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: transparent;
}

.mod_content::-webkit-scrollbar-thumb,
.crd_area::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #222222;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

.swap_drop--col::-webkit-scrollbar {
    width: 0px;
    height: 7px;
    background-color: transparent;
}

.swap_drop--col::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #333333;
}

.swap_drop--col {
    overflow-y: scroll;
}
  
