/*
 * 2023.12.13.13:45:35
 */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

::selection {
    background: #f8f8f8;
    color: #232323;
}

.cl-card {
    background-color: #141414;
    border: 1px solid #1b1b1c;
    box-shadow: rgba(0, 0, 0, 0.21) 0 4px 5px 2px;
    padding: 30px 30px 32px;
    border-radius: 8px;
}

.cl-logoBox {
    height: 36px;
}

.cl-headerTitle {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.cl-headerSubtitle {
    color: #999;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.cl-socialButtonsBlockButton {
    background-image: linear-gradient(#252525, rgba(224, 224, 224, .03));
    border: 0.1px solid #0c0c0c;
    border-radius: 4px;
    color: white;
}

.cl-dividerText {
    color: #999;
}

.cl-dividerLine {
    background-color: #6c6c6c4d;
    height: 0.5px;
}

.cl-formFieldLabel {
    color: #999;
    font-size: 13px;
}

.cl-formFieldInput {
    background-color: #212121;
    border-radius: 4px;
    color: white;
}

.cl-socialButtonsBlockButton:hover {
    --arrow-opacity: 1;
}

.cl-formFieldInputShowPasswordButton {
    color: white;
}

.cl-formFieldInputShowPasswordButton:hover {
    color: #ffffffad;
}

.cl-formFieldInput.cl-error.cl-required {
    background-image: linear-gradient(#252525, rgb(248 78 78 / 8%));
}

.cl-formFieldInfoText, .cl-formFieldSuccessText {
    color: white;
}

.cl-formButtonPrimary {
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 500;
    background-color: #050505;
    background-image: linear-gradient(4deg, #141414, rgba(19, 19, 19, .1));
    border: 0.75px solid #000;
    height: 43px;
    border-radius: 4px;
}

.cl-formButtonPrimary:hover {
    background-color: unset;
    background-image: linear-gradient(4deg, #1b1b1b, rgba(53, 53, 53, .1));
}

.cl-footerActionText {
    color: #999;
    font-size: 13px;
    font-weight: 500;
}

.cl-footerActionLink {
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.cl-footerActionLink:hover {
    text-decoration: underline;
    color: #ffffffad;
    transition: .2s;
}

.cl-footer {
    justify-content: center;
    display: none;
}

.skel_checkout_bg,
.skel_loc_crd_bg {
    animation-name: gradient-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.loader--wrp {
    border: 10px solid;
    border-image: linear-gradient(to right, #7000ff, #e05a1f) 1 stretch;
    border-radius: 3px;
}

.dvd_box {
    -webkit-animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
    -moz-animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
    -o-animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
    animation: moveX 1s linear 0s infinite alternate, moveY 1.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@-moz-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@-o-keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@keyframes moveX {
    from {
        left: 0;
    }
    to {
        left: 79%;
    }
}

@-webkit-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@-moz-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@-o-keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@keyframes moveY {
    from {
        top: 0;
    }
    to {
        top: 79%;
    }
}

@keyframes gradient-animation {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}