/*
 * 2023.12.13.13:45:35
 */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

::selection {
    background: #f8f8f8;
    color: #232323;
}

.skel_checkout_bg,
.skel_loc_crd_bg {
    animation-name: gradient-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes gradient-animation {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}